@media screen and (min-width : 500px) {
    .card{
        width: 30%;
        font-size: 25px;
    height:10vh;
}
    .Ocard{
        width: 30%;
        font-size: 25px;
        height:10vh;
        }
        table{
            width: 35%;
            border-spacing: 25px;
        }   
    .header{
        width: 30%;
    font-size: 18px;
    }
    .xandy{
        font-size: large;
        margin: 0px;
    }
}
@media screen and (max-width : 501px) {
    .card{
        width: 30%;
        height:10vh;
        
        font-size: 25px;
    }
    .Ocard{
        width: 30%;
        font-size: 25px;
        height:10vh;
        }
     table{
            width: 70%;
            
            border-spacing: 15px;
        }
    .header{
        width: 53%;
        font-size: 12px;
    }   
    .xandy{
        font-size: 13px;
        margin: 0px;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   
}

.header{
  
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color:rgb(82, 116, 146);
    display: flex;
    flex-direction: row;
    align-items: center;
  
    justify-content: space-between;
    
}
.userTurn{
    border: none;
    background-color: rgb(52, 64, 75);
    padding: 3%;
    border-radius: 10%;
    color: rgb(82, 116, 146);
    box-shadow:  0px  3px rgb(29, 34, 39) ;
    margin-left: 20px;
}
.x{
    color: rgb(0, 255, 242);
    margin: 0px;
    
}
.o{
    color: rgb(194, 191, 39);
    margin: 0px;

}
body {
    font-family: "Arial", sans-serif;
    font-weight: 900;
    font-size: large;
    background-color: rgb(30, 44, 51);
}

.card{
    border: none;
    box-shadow:  0px  10px rgb(29, 34, 39) ;
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 255, 242);
    background-color: rgb(52, 64, 75);
   
   font-family: "Permanent Marker", cursive;
}

.Ocard{
    border: none ;
    border-radius: 10px;
    box-shadow:  0px  10px rgb(29, 34, 39) ;
    text-align: center;
    color: rgb(194, 191, 39);
    background-color: rgb(52, 64, 75);
   
   font-family: "Permanent Marker", cursive;
}
.user-name{
    border: none;
    color: rgb(82, 116, 146);
}
.finalresult{
    color:rgb(82, 116, 146);
   
}
.reset{
    display: flex;
    flex-direction: row;
}